{erl_opts, [debug_info]}.
{deps, [
    {wamp_service, {git, "git@gitlab.com:leapsight/wamp_service.git", {branch, "master"}}}
]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [hello_world_erl_otp]}
]}.

{relx, [
    {release, {hello_world_release_wamp, "1.0.0"},
        [hello_world_erl_wamp, sasl, stdlib]},
    {release_dir, "rel"}
]}.
